@import '~@angular/material/prebuilt-themes/demme-theme.css';
@import 'variables';
@import 'reboot';

html,
body,
app-root,
app-worksheet-generator {
  height: 100%;
}

app-root,
app-worksheet-generator {
  display: block;
  position: relative;
}

.d-print-none {
  @media print {
    display: none !important;
  }
}

@media print {
  body {
    background-color: transparent;
  }
}

.add-button {
    display:inline-block;
    background-color:#001f69;
    color:white;
    width:26px;
    height:26px;
    padding-right: 0px;
    padding-top: 4px;
    text-align:center;
    font-size:22px;
    border-radius:50%;
    cursor:pointer;
    
}
i.lg-size {
  font-size: 22px; 
  cursor:pointer; 
  color:#256eb7;
}
.lg-size:hover{
  background-color:rgb(243, 243, 243);
  color:#ffa600 !important;
}
.add-button:hover {
  background-color:rgb(243, 243, 243);
    color:#001f69;
}

.add-text {
    height:26px;
    display: inline-block;
    margin-left: 9px;
    position: relative;
    bottom: 2px;
}

.add-lesson {
    height:25px;
    width: 100%;
    margin-top:15px;
}

.select-lesson {
    width:80%;
    height: 30px;
    margin: 5px;
    border: 2px solid #0094e245;
    color: black;
}

.message-block {
  margin:15px auto;
  position:absolute;
  top: -25px;
  left:50%;
  z-index:99;
}
.message-block p {
  padding:10px;
  text-align:center;
}
